<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Obras</title>
        <link href="../css/style.css" rel="stylesheet" type="text/css" />
		
</head>

    <body>
    <div id="container">
      <div id="wrapper">
      <table id="tableC" align="center">
  				<tr>
    			<td><h2>Comentario</h2></td>
    			<td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><form id="form1" name="form1" method="post" action="">
        <p>
          <label>
            <textarea name="textfield" cols="100" rows="5" id="textfield"></textarea>
          </label>
        </p>
        <p><a href="#"><img src="../images/com.png" width="32" height="32" /></a></p>
    </form></td>
    </tr>
  
 

  
</table>
     </div>
        </div>
    </body>
</html>
