<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Obras</title>
</head>

<body>
<table >
  <tr>
    <td>Nombre</td>
    <td>Director</td>
    <td>Precio</td>
    <td>Afiche</td>
    <td>Opciones</td>
  </tr>
  <div style="overflow:auto" style="height:200px">
  <?php for ($index = 0; $index < count($obras); $index++) { ?>
  <tr>
    <td><?php echo $obras[$index]->get_nombre();?></td>
    <td><?php echo $obras[$index]->get_director();?></td>
    <td><?php echo $obras[$index]->get_precio();?></td>
    <td> <a href="../afiches/<?php echo $obras[$index]->get_afiche();?>">Ver</a> </td>
    <td>Ver Mas , Editar , Eliminar</td>
  </tr>
  <?php }?>
  </div>
</table>
</body>
</html>
