<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Obra Nueva</title>
<script type="text/javascript">
function showContent(vThis)
{
// http://www.javascriptjunkie.com
// alert(vSibling.className + " " + vDef_Key);
vParent = vThis.parentNode;
vSibling = vParent.nextSibling;
while (vSibling.nodeType==3) { // Fix for Mozilla/FireFox Empty Space becomes a TextNode or Something
vSibling = vSibling.nextSibling;
};
if(vSibling.style.display == "none")
{
vThis.src="/img/collapse.gif";
vThis.alt = "Hide Div";
vSibling.style.display = "block";
} else {
vSibling.style.display = "none";
vThis.src="/img/expand.gif";
vThis.alt = "Show Div";
}
return;
}
</script>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table>
    <tr>
      <td colspan="2">Obra</td>
    </tr>
    <tr>
      <td>Nombre</td>
      <td><input type="text" name="nombre"/></td>
    </tr>
    <tr>
      <td>Autor</td>
      <td><input type="text" name="autor"/></td>
    </tr>
    <tr>
      <td>Director</td>
      <td><input type="text" name="director"/></td>
    </tr>
    <tr>
      <td>Actores</td>
      <td><textarea name="actores"></textarea></td>
    </tr>
    <tr>
      <td>Sala</td>
      <td><input type="text" name="sala"/></td>
    </tr>
    <tr>
      <td>Precio</td>
      <td><input type="text" name="precio"/></td>
    </tr>
    <tr>
      <td>Temporada</td>
      <td><input type="text" name="temporada"/></td>
    </tr>
    <tr>
      <td>Afiche</td>
      <td>        <input type="file" name="afiche" />
      </td>
    </tr>
    <tr>
      <td>Reseña</td>
      <td><textarea name="resena"></textarea></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><label>
        <input type="submit" name="button" id="button" value="Agregar" />
      </label></td>
    </tr>
  </table>
    <input type="hidden" name="opcion"  value="insert_obra" />
</form>
    <table >
  <tr>
    <td>Nombre</td>
    <td>Director</td>
    <td>Precio</td>
    <td>Afiche</td>
    <td>Afiche</td>
    <td>Opciones</td>
  </tr>
  <div style="overflow:auto" style="height:200px">
  <?php for ($index = 0; $index < count($obras); $index++) { ?>
  <tr>
    <td><?php echo $obras[$index]->get_nombre();?></td>
    <td><?php echo $obras[$index]->get_director();?></td>
    <td><?php echo $obras[$index]->get_precio();?></td>
    <td> <a href="#" onclick="showContent(this);">Ver</a> </td>
    <img src="../afiches/<?php echo $obras[$index]->get_afiche();?>"/>

    <td  >Ver Mas , Editar , Eliminar</td>
  </tr>
  <?php }?>
  </div>
</table>
    <div style="margin-top:5px; display:none; border:1px solid red;">
<p> THis is the content of the #1 div</p>
</div>
</body>
</html>
